<aside id="home-intro">
    <article>
        {{ render(controller('CtaAisheBundle:Page:part', { 'identifier': 'home_about' })) }}
    </article>
</aside><!-- /#home-intro -->

<article id="food-nutrition-security">
    {{ render(controller('CtaAisheBundle:Page:part', { 'identifier': 'home_fns' })) }}
</article><!-- /#food-nutrition-security -->

<article id="integrated-approach">
    <div class="bg-gray">
        {{ render(controller('CtaAisheBundle:Page:part', { 'identifier': 'home_approach' })) }}
    </div>
</article><!-- /#integrated-approach -->

<article id="conclusions-recommendations">
    <div class="bg-gray">
        {{ render(controller('CtaAisheBundle:Page:part', { 'identifier': 'home_recommendations' })) }}
    </div>
    <figure>
        <img src="/bundles/ctaaishe/img/TransformingTertiaryEducation.jpg"/>
        <figcaption>Figure 1: Transforming Tertiary Education toward the Integration of Food Security (source: Wals, A.; Bello, O. and Francis, J.A. 2013)</figcaption>
    </figure>
</article><!-- /#conclusions-recommendations -->

<aside id="related-articles">
    <article>
        {{ render(controller('CtaAisheBundle:Page:part', { 'identifier': 'home_related' })) }}
    </article>
</aside><!-- /#related-articles -->
