<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}{{ 'site.title.head'|trans }}{% endblock %}</title>

    <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

    {% block stylesheets %}
        {% stylesheets
        'bundles/ctaaishe/css/stylesheets/screen.css'
        'bundles/ctaaishe/css/jqtransform.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />{% endstylesheets %}
    {% endblock %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.min.css"/>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {% block javascripts %}
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
        {% javascripts
        'jsLibs/jquery/jquery.jqtransform.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>{% endjavascripts %}
        <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>

    {% endblock %}


    <script type="text/javascript">
        //<![CDATA[
        {% block javascript_code %}
        jQuery(document).ready(function () {
            jQuery("#section-body, form, span.priority").jqTransform();
        });
        {% endblock %}
        //]]>
    </script>
</head>
<body>
<div id="content">
    {{ include('header.html.twig') }}

    <nav id="navbar">
        <div id="menu">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <ul class="registreren">
                    <li>
                        <a href="{{ path('cta_aishe_offlinetool_download') }}">{{ 'tool.offlineTool'|trans() }}</a>
                    </li>
                    <li>
                        {{ 'security.base.logged_in_as'|trans({}, 'messages') }}:
                        <a href="{{ path('fos_user_profile_show') }}">{{ app.user.email }}</a>
                    </li>
                    <li>
                        <a href="{{ path('cta_aishe_report_overview') }}">{{ 'report.overview'|trans({}, 'messages') }}</a>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('cta_admin_aishe_homepage') }}"
                               title="{{ 'base.adminPanel'|trans() }}">{{ 'base.adminPanel'|trans() }}</a>
                        </li>
                    {% endif %}

                    <li class="last-item">
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'security.base.logout'|trans({}, 'messages') }}
                        </a>
                    </li>
                </ul>
            {% else %}

                <ul class="logged-out">
                    <li>
                        <a href="{{ path('cta_aishe_offlinetool_download') }}">{{ 'tool.offlineTool'|trans() }}</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">{{ 'security.base.login'|trans({}, 'messages') }}</a>
                    </li>
                    <li class="last-item">
                        <a href="{{ path('fos_user_registration_register') }}">{{ 'security.base.register'|trans({}, 'messages') }}</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>

    <section id="main-content">

        <div id="flash-messages">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage|raw }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="flash-error">
                    {{ flashMessage|raw }}
                </div>
            {% endfor %}
        </div>

        {% block body %}{% endblock %}
    </section>
</div>
{{ include('footer.html.twig') }}
</body>
</html>
