{% extends "CtaAisheBundle:Report:base.html.twig" %}

    {% block javascripts %}
        {{ parent() }}

        {#<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>#}
        {#<script type="text/javascript" src="http://code.highcharts.com/highcharts-more.js"></script>#}
    {% endblock %}

{% block javascript_code %}
    {{ parent() }}

    {% if print %}
        $(document).ready(function(){
            javascript:window.print();
        });
    {% endif %}

    {# chart disabled
        {% if disableChart == false %}
        {% if 0 == 1 %}
        <script>
            {% endif %}
            $(function () {
                var options = {{ chart|raw }}, chart, updateLegend = false;
                if (options['series'].length > 0) {
                    options['chart']['width'] = ($('body').innerWidth() > 990 ? 990 : ($('body').innerWidth() < 300 ? 300 : $('body').innerWidth()));
                    options['chart']['height'] = ($('body').innerHeight() > 990 ? 990 : ($('body').innerHeight() < 300 ? 300 : $('body').innerHeight()));
                    options['plotOptions'] = {
                        line: {
                            events: {
                                legendItemClick: function () {
                                    return false;
                                }
                            }
                        },
                        area: {
                            events: {
                                legendItemClick: function () {
                                    return false;
                                }
                            }
                        },
                        series: {
                            animation: false
                        }
                    }
                    if (options['chart']['renderTo'] == 'lineChart') {
                        updateLegend = true;
                    }
                    options['chart']['renderTo'] = 'chart';
                    options['xAxis']['labels'] = {
                        useHTML: true
                    }
                    chart = new Highcharts.Chart(options);
                    if (updateLegend) {
                        $('#chart').find('.highcharts-container').find('svg').find('.highcharts-legend').children('g').children('g').each(function () {
                            var legend = $(this);
                            var length = legend.children().length;
                            var legendChild, legendChildText;
                            for (var i = 0; i < length; i++) {
                                legendChild = legend.children().eq(i);
                                legendChildText = legendChild.find('tspan');
                                if (legendChildText[0].textContent == '{{ 'report.item.hasHighPriority'|trans() }}') {
                                    legendChild.find('rect').remove();
                                    var img = document.createElementNS('http://www.w3.org/2000/svg', 'image');
                                    img.setAttributeNS(null, 'height', '19');
                                    img.setAttributeNS(null, 'width', '19');
                                    img.setAttributeNS('http://www.w3.org/1999/xlink', 'href', '/bundles/ctaaishe/img/priority.png');
                                    img.setAttributeNS(null, 'x', '-3');
                                    img.setAttributeNS(null, 'y', '-1');
                                    img.setAttributeNS(null, 'visibility', 'visible');
                                    legendChild.append(img);
                                }
                            }
                        });
                    }
                }
            });
            {% endif %}
            {% if 0 == 1 %}
        </script>
        {% endif %}
    #}
{% endblock %}

{% block report %}

    {% if report.status == 8 %}
        <img src="{{ asset('bundles/ctaaishe/css/img/print-text.png') }}" alt="AIFSHE" class="print-logo"/>
    {% endif %}

    {{ include(
    'CtaAisheBundle:Report:_partials/report_info.html.twig',
    {  }
    ) }}

    {#{% if disableChart == false %}#}
    {#<h2 id="chartHeading">{{ 'report.chart'|trans() }}</h2>#}
    {#<div id="chart"></div>#}
    {#{% endif %}#}

    <div class="show-report">
        {{ include(
        'CtaAisheBundle:Report:_partials/req_table_big.html.twig',
        { 'mode': 'view' }
        ) }}
    </div>
    <div style="clear:both;height:20px;"></div>
    <h2>AISHE Stages</h2>
    <div class="report-item">
        {% if info.pageTranslations|length > 0 %}{{ info.pageTranslations.0.value|raw }}{% endif %}
    </div>

    {{ include(
    'CtaAisheBundle:Report:_partials/report_criteria.html.twig',
    {  }
    ) }}

    {{ include(
    'CtaAisheBundle:Report:_partials/report_general.html.twig',
    {  }
    ) }}

    {# Disable certification related stuff #}
    {#{{ include(#}
    {#'CtaAisheBundle:Report:_partials/report_explanation.html.twig',#}
    {#{  }#}
    {#) }}#}

{% endblock %}