{% extends '::mail.html.twig' %}

{% block subject 'A new report was added by ' ~ user.getUsername() %}

{% block body_html %}
    {{ parent() }}
    {% block content %}
        {{ 'mails.headerAdmin'|trans() }}
        <br/><br/>
        <strong>{{ user.getUsername() }}</strong> has added a new report. <br/>
        Click <a href="{{ appUrl }}{{ path('cta_aishe_report_show', {'id': reportId}) }}" style="color: #e74739; text-decoration: underline;">here</a> to show this report.

        <br/><br/>
        <em>AIFSHE</em>
    {% endblock %}
{% endblock %}
