{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain "messages" %}

{% block fos_user_content %}
    <form action="{{ path("fos_user_security_check") }}" method="post" class="smallForm">
        <h2>{{ 'security.base.login'|trans() }}</h2>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="formContent">

            {% if error %}
                <div class="error" style="margin-top: -44px; margin-bottom: 15px; float: none; display: block; padding: 10px; color: #a94442; background-color: #f2dede; border-color: #ebccd1; text-align: center;">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}


            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input type="password" id="password" name="_password" required="required" />

            <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}:</label>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />

            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>

        <h5><a href="{{path('fos_user_resetting_request') }}">{{ 'security.base.forgotPassword'|trans() }}</a></h5>
    </form>
{% endblock fos_user_content %}