<table>
    {% if report.institution is not null %}
        <tr>
            <td>{{ 'report.institution'|trans() }}</td>
            <td>{{ report.institution.name }}</td>
        </tr>
    {% endif %}
    <tr>
        <td>{{ 'report.department'|trans() }}</td>
        <td>{{ report.department }}</td>
    </tr>

    {% if report.isOfficial %}
        <tr>
            <td>{{ 'report.auditor'|trans() }}</td>
            <td>{% if report.createdBy %}{{ report.createdBy.username }}{% else %}&nbsp;{% endif %}</td>
        </tr>
    {% endif %}

    <tr>
        <td>{{ 'report.coordinator'|trans() }}</td>
        <td>{{ report.coordinator }}</td>
    </tr>
    <tr>
        <td>{{ 'report.nrOfParticipants'|trans() }}</td>
        <td>{{ report.nrOfParticipants }}</td>
    </tr>
    <tr>
        <td>{{ 'report.secretary'|trans() }}</td>
        <td>{{ report.secretary }}</td>
    </tr>
    <tr>
        <td>{{ 'report.dateAssessment'|trans() }}</td>
        <td>{{ report.dateAssessment|date("Y-m-d") }}</td>
    </tr>
    <tr>
        <td>{{ 'report.dateLatestAssessment'|trans() }}</td>
        <td>{{ report.dateLatestAssessment|date("Y-m-d") }}</td>
    </tr>
    <tr>
        <td>{{ 'report.dateDesiredSituation'|trans() }}</td>
        <td>{{ report.dateDesiredSituation|date("Y-m-d") }}</td>
    </tr>
</table>

<p>{{ report.comment }}</p>