{% trans_default_domain 'messages' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_resetting_send_email'), 'attr': { 'class': 'fos_user_resetting_request smallForm' } }) }}
    <h2>{{ 'security.base.forgotPassword'|trans() }}</h2>

    <div class="formContent">
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
        <label for="username">{{ 'security.base.usernameEmail'|trans }}</label>
        <input type="text" id="username" name="username" required="required" />

        <input type="submit" value="{{ 'security.base.submit'|trans }}" />
    </div>
{{ form_end(form) }}
