{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset smallForm' } }) }}
   <h2>{{ 'security.base.reset'|trans({}, "default" )}}</h2>
    <div class="formContent">

        {{ form_widget(form) }}
        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
{{ form_end(form) }}
