<h1>General Data</h1>
<table class="report" style="line-height: 2;">
    <tr class="toprow">
        <td>&nbsp;{{ 'base.globalIndicators'|trans() }}</td>
        <td>&nbsp;{{ 'report.item.currentSituation'|trans() }}</td>
        <td>&nbsp;{{ 'report.item.desiredSituation'|trans() }}</td>
    </tr>

    {% for gdKey,gdValue in generalData %}
        <tr>
            <td>&nbsp;{% if 'certification' in  gdKey %}{{ 'base.distanceToCertification'|trans() }} {% endif %}{{ ('base.' ~ gdKey)|trans() }}</td>
            <td>&nbsp;{{ gdValue.current }}</td>
            <td>&nbsp;{{ gdValue.desired }}</td>
        </tr>
    {% endfor %}
</table>